// colors
$accentColor = #0984e3

// disable the search box
.search-box
  display none

html, body 
  direction: rtl  
.navbar .links
  left 1.5rem
  right auto

blockquote 
  border-right: 0.25rem solid #dfe2e5;
  border-left: 0 !important;
  margin-right: 0;
  padding-right: 1rem;

pre 
  direction ltr

.page 
  padding-right 20rem
  padding-left 0

.sidebar
  right: 0
  border-left: 1px solid #eaecef

.custom-block.tip, .custom-block.warning, .custom-block.danger
  border-right .5rem solid 
  border-left 0 solid
  border-left-width: 0 !important;
  border-left-style: solid;

@media (max-width: 959px)

  .page 
    padding-right: 16.4rem;

@media (max-width: 719px)
  .sidebar 
      transform: translateX(100%) !important
  .sidebar-open .sidebar 
     transform: translateX(0) !important
  .page
    padding-right 0

@media (min-width: 720px)
  .theme-container.no-sidebar .page 
    padding-right 0;
